fastapi>=0.120.1
uvicorn[standard]>=0.38.0
jinja2>=3.1.6
python-multipart>=0.0.20
anyio>=4.11.0
holidays>=0.83
pydantic>=2.12.3
pydantic-core>=2.41.4
python-dateutil
pytz>=2025.2
tzdata>=2025.2
openpyxl==3.1.5
bcrypt>=4.0.0